@using IVGDb.Models;

@model UserViewModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "User", FormMethod.Post, new { id = "Registration-form" }))
{
    <div class="row">
        @if (ViewBag.Unregistered == "true")
        { 
            <div class="text-warning" id="Registration-warning">
                <span id="Message">
                    It appears you aren't logged into your account, or do not have one. Please register or <a data-toggle="modal" data-target="#Login-modal">login</a> to your account to
                    add a game to the database.
                </span>
            </div>
        }
        <div class="error-msg text-warning">
            @Html.ValidationMessage("RegisterError")
        </div>
        <div>
            <div class="col-md-2">@Html.LabelFor(m => m.Username)</div>
            <div class="col-md-10 registration-section">
                @Html.TextBoxFor(m => m.Username, new { id = "Register-username", @placeholder = "Username" })
                <span class="error-msg register-err-msg" id="UsernameErr"></span>
            </div>
            
            <div class="col-md-2">@Html.LabelFor(m => m.Email)</div>
            <div class="col-md-10 registration-section">
                @Html.TextBoxFor(m => m.Email, new { id = "Register-email", @placeholder = "Email" })
                <span class="error-msg register-err-msg" id="EmailErr"></span>
            </div>

            <div class="col-md-2">@Html.LabelFor(m => m.UserProfilePicLink)</div>
            <div class="col-md-10 registration-section">
                @Html.TextBoxFor(m => m.UserProfilePicLink, new { id = "Register-pic-url", @placeholder = "Image URL" })
                <span class="error-msg register-err-msg" id="URLErr"></span>
            </div>
            
            <div class="col-md-2">@Html.LabelFor(m => m.Password)</div>
            <div class="col-md-10 registration-section">
                @Html.TextBoxFor(m => m.Password, new { id = "Register-password", @type = "password", @placeholder = "Password" })
                <span class="error-msg register-err-msg" id="PasswordErr"></span>
            </div>
            
            <div class="col-md-2">@Html.LabelFor(m => m.ConfirmPassword)</div>
            <div class="col-md-10 registration-section">
                @Html.TextBoxFor(m => m.ConfirmPassword, new { id = "Register-confirm-password", @type = "password", @placeholder = "Confirm Password" })
                <span class="error-msg register-err-msg" id="ConfirmPassErr"></span>
            </div>
            
        </div>
        <div id="Register-btn">
            <button type="submit" name="Register">Register!</button>
        </div>
    </div>
}