@using IVGDb.Models;

@model List<VideoGame>

@{
    ViewBag.Title = "Results";
}

<h2>Results for "<i>@ViewBag.searchQuery</i>"</h2>
<div class="results-container">
    @if (Model != null)
    {

        foreach (var item in Model)
        {
            <div class="results-item">
                <div class="results-heading">
                    <div class="results-heading-title">
                        <a href="~/VideoGame/ShowGame?gameID=@item.GameID">@item.Title</a>
                    </div>
                    <div class="results-console">
                        <span class="label label-danger">@item.Console</span>
                    </div>
                </div>
                <div class="results-body">
                    <div class="results-box-art">
                        <a href="~/VideoGame/ShowGame?gameID=@item.GameID">
                            <img src="@item.BoxArtLink" />
                        </a></div>
                    <div class="results-info">
                        <div class="results-info-details">
                            <strong>Publisher: </strong>@item.Publisher <br />
                            <strong>Developer: </strong>@item.Developer <br />
                            <strong>Release Date: </strong>@item.ReleaseDate<br />
                            <strong>Rating: </strong>90% <br />
                        </div>
                        <div class="results-rating">
                        </div>
                    </div>
                </div>
            </div>
        }
        
    <ul class="pagination pagination-sm">
        @Model.Count Results
        <li class="disabled"><a href="#">«</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">»</a></li>
    </ul>
    }


    

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Can't find what you searched for?</h3>
        </div>
        <div class="panel-body">
            <a href="~/VideoGame/AddNewGame" class="btn btn-success">Add Game to Database!</a>
            Help us grow our database! Click here to log in and start adding more games.
        </div>
    </div>
</div>
